{% extends "base.html.twig" %}

{% block body %}
<div class="row">
    <div class="col-6">
        <h4>Articles</h4>
        <ul>
            {% for article in articles %}
                <li>
                    {{ article.id }}   {{ article.title }}
                    {# <a href="/showArticle/{{article.id}}">Details</a> #}
                    <a href="{{ path('article_details', {'id': article.id }) }}">Details</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-6">
    <h4>Categories</h4>
    <ul>
        {% for category in categories %}
            <li>
                {{ category.id }}   {{ category.name }}
                {# <a href="/showCategory/{{category.id}}">Details</a> #}
                <a href="{{ path('category_details', {'id': category.id }) }}">Details</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

{# <a href="{{ path('list', { 'slug': "javascript-vs-php" }) }}">
    Testing show() method from BlogController with a real article s slug.
</a> #}

{% endblock %}